<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.iotsmarthome">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:label="Home"></activity>
        <activity android:name=".Lockdown" android:label="Lock Down" android:noHistory="true" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Dining"
            android:label="@string/title_activity_dining"
            android:theme="@style/AppTheme.NoActionBar" android:noHistory="true" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Bed"
            android:label="@string/title_activity_bed"
            android:theme="@style/AppTheme.NoActionBar" android:noHistory="true" android:parentActivityName=".MainActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Kitchen"
            android:label="@string/title_activity_kitchen"
            android:theme="@style/AppTheme.NoActionBar" android:noHistory="true" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity"/>
        </activity>
        <activity android:name=".Living" android:label="Living" android:noHistory="true"/>
        <activity android:name=".Sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>